/* get.css */
html {
    overflow-y: scroll;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Commissioner, sans-serif;
}

::-webkit-scrollbar {
    width: 0; /* For Chrome, Safari, and Opera */
    background: transparent;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s;
    z-index: 1000;
}

.container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0 auto;
}

.logo {
    text-decoration: none;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
    font-family: Lexend Deca, sans-serif;
}

.logo span {
    font-weight: 300;
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav li {
    margin-left: 1rem;
}

.nav a {
    position: relative;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
    color: #fff;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust as needed */
    width: 0;
    height: 2px; /* Adjust as needed */
    background-color: currentColor; /* Use the current text color */
    transition: width 0.3s;
}

.nav a.active::after {
    width: 100%;
}

.nav a:hover {
    text-decoration: underline;
}

.sign-in a {
    margin-left: 1rem;
    text-decoration: none;
    transition: color 0.3s;
    color: white;
}

.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    overflow-y: scroll;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.section::-webkit-scrollbar {
    display: none;
}

#home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(./images/back1.jpeg);
    background-size: cover;
    background-position: center;
}
#features {
    background-color: #fff;
}
#about {
    background-color: #0b0d1a;
}

.dark-background .logo,
.dark-background .nav a,
.dark-background .sign-in a {
    color: white;
}

.light-background .logo,
.light-background .nav a,
.light-background .sign-in a {
    color: #0b0d1a;
}

/* Button Styles */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    border: 2px solid;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* Dark background button styles */
.light-background .btn {
    color: black; /* Text color */
    background-color: white; /* Button background */
    border-color: black; /* Border color */
}

.light-background .btn:hover {
    color: white;
    background-color: #0b0d1a;
    border-color: white;
}

.hero-content {
    height: 500px;
}

.hero-content h1 {
    color: #fff;
    font-size: 40px;
    font-family: Lexend Deca, sans-serif;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

.hero-content p {
    color: #fff;
    font-size: 15px;
    font-family: Commissioner, sans-serif;
    text-align: center;
    max-width: 550px;
    margin: 20px auto;
    opacity: 0.7;
}

.call-to-action {
    max-width: 400px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.get-started-button {
    width: 150px;
    font-family: Commissioner;
    font-size: 18px;
    font-weight: bold;
    background-color: #0b0d1a;
    border: 1px solid #fff;
    border-radius: 7px;
    text-align: center;
    padding: 18px 20px;
    color: #fff;
    text-decoration: none;
}

.get-started-button:hover {
    background-color: #fff;
    color: #0b0d1a;
}

.about-button {
    width: 150px;
    font-family: Commissioner;
    font-size: 18px;
    font-weight: bold;
    background-color: #fff;
    color: #0b0d1a;
    text-align: center;
    padding: 18px 20px;
    border: 1px solid #fff;
    border-radius: 7px;
    text-decoration: none;
}

.about-button:hover {
    background-color: #0b0d1a;
    color: #fff;
}

.features-content-container {
    max-width: 80%;
    height: 90vh;
    /* margin: auto; */
}

.features-title {
    font-family: Lexend Deca, sans-serif;
    color: #0b0d1a;
    text-align: center;
    font-size: 40px;
}



.key-features {
    max-width: 60%;
    margin: 20px auto;
}

.features-content {
    display: flex;
    margin-bottom: 20px;
    gap: 40px;
}

.feature-title-description {
    width: 45%;
}

.feature-title-description h3 {
    font-family: Lexend, sans-serif;
    margin-bottom: 0;
    font-size: 25px;
    /* opacity: .5; */
}

.feature-title-description h3 span {
    color: #c02567;
}


.feature-title-description:nth-child(2) h3,
.feature-title-description:nth-child(2) p {
    text-align: right;
}

/* .feature-title-description:nth-child(2) p {

} */

.feature-title-description p {
    max-width: 75%;
    font-size: 15px;
    opacity: .6;
}

.feature-title-description:nth-child(2) p {
    margin-left: auto;
}

.feature-image:nth-child(odd) .img-container {
    margin-right: auto;
}

.feature-image .img-container{
    margin-left: auto;
}

.img-container {
    margin: 20px 100px;
    position: relative; /* Make the container the positioning reference */
    width: 250px; /* Adjust width as needed */
    height: 180px; /* Adjust height as needed */
    background-color: #b45555; /* Optional background color for the div */
    padding: 20px; /* Add some padding for content */
}



.img-container-right img{
    position: absolute; /* Position the image absolutely within the container */
    bottom: 10%; /* Place the image at the top of the container */
    left: -10%; /* Place the image at the left of the container */
    width: 100%; /* Stretch the image to fill the container width */
    height: 100%; /* Stretch the image to fill the container height */
    object-fit: cover; /* Ensure the image covers the entire container */
    transition: top .6s ease, left .6s ease;
}


.img-container-left img{
    position: absolute; /* Position the image absolutely within the container */
    bottom: 10%; /* Place the image at the top of the container */
    right: -10%; /* Place the image at the left of the container */
    width: 100%; /* Stretch the image to fill the container width */
    height: 100%; /* Stretch the image to fill the container height */
    object-fit: cover; /* Ensure the image covers the entire container */
    transition: bottom .6s ease, left .6s ease;
}

/* .img-container-right img:hover {

}

.img-container-left img:hover {

} */
